<html lang="en">

<head>
    <meta charSet="utf-8">
    <title>音声チャットロボット</title>
    <link rel="stylesheet" class="ui" href="static/css/semantic.min.css"/>
    <link rel="stylesheet" class="ui" href="static/css/body.css"/>
    <link rel="stylesheet" class="ui" href="static/css/chat.css"/>
    <script src='static/js/jquery-3.5.1.min.js'></script>
    <script src="static/js/recorder.wav.min.js"></script>
    <!--    <script src="/static/js/recorder-core.js"></script>-->
    <style>
        .main.container {
            padding-top: 3px;
            text-align: center;
        }

        .msg {
            font-size: 1.5em;
        }

        .talker {
            font-size: 1.5em;
        }

        .q {
            background: cornsilk;
            margin-bottom: 4px;
            position: relative;
        }

        .q audio {
            position: absolute;
            height: 100%;
            right: 0;
        }

        .a {
            background: lightgrey;
            margin-bottom: 4px;
            position: relative;
        }

        .a audio {
            position: absolute;
            height: 100%;
            right: 0;
        }

        #message_list {
            margin-bottom: 1em;
        }

        #msg {
            font-size: 2em;
            padding: 7px;
            padding-left: 10px;
        }
    </style>
</head>

<body>
<div class="ui fixed transparent inverted main menu" style="position: relative">
    <div class="container">
        <div class="title item" style="left: 35%; font-size: 2.0rem">
            音声チャットロボット
        </div>

        <div class="right menu">
            <div class="title item">
            </div>
        </div>
    </div>
</div>
<!-- Message -->
<div id="main" class="main container">
    <div id="message_section" class="ui column grid hide">
        <div class="column">
            <div class="ui piled blue segment">
                <div id="message_list" class="ui comments">
                    <!-- comments section -->
<!--                    <div class="a"><b class="talker">桜ちゃん:</b><span class="msg">&nbsp;&nbsp;いらっしゃいませ、何か話してもらえますか？<audio autoplay controls="" src="static/audio/welcome.wav"></audio></span></div>-->
                </div>
                <div class="ui reply form">
<!--                    <div class="field" style="border: 1px solid;">-->
<!--                        <table style="width: 100%">-->
<!--                            <tr>-->
<!--                                <td style="width: 90%">-->
<!--                                    <input type="text" id="msg" placeholder="メッセージ入力"/>-->
<!--                                </td>-->
<!--                                <td style="width: 10%">-->
<!--                                    <div id="text_submit" onclick="textSubmit();"-->
<!--                                         class="ui fluid green labeled submit button">-->
<!--                                        送信-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </div>-->
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 30%">
                                <div id="file" data="" class="ui fluid teal labeled submit button">
                                    <span id="file_text">文件上传</span>
                                </div>
                            </td>
                            <td style="width: 30%">
                                <div id="submit" data="" class="ui fluid blue labeled submit button">
                                    <span id="submit_text">録音開始</span>
                                </div>
                            </td>
                            <td style="width: 20%">
                                <div onclick="$('#message_list').empty();send_count=0;"
                                     class="ui fluid orange labeled submit button">
                                    クリア
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    function randomString(len) {
        len = len || 32;
        var $chars = 'abcdefghijklmnopqrstuvwxyz_-ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        /****默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1****/
        var maxPos = $chars.length;
        var pwd = '';
        for (i = 0; i < len; i++) {
            pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
        }
        return pwd;
    }
    
    var socket = null;
    var send_count = 0;
    var session_id = randomString(8);
    
    function textSubmit() {
        let msg_obj = $("#msg");
        let message_list = $("#message_list");

        let msg = msg_obj.val();
        if (msg === "") {
            alert('入力メッセージが見つかりません。');
            return
        }
        msg_obj.val('');
        postRec(msg, 'text', send_count);
        message_list.append('<div class="q"><b class="talker">お客様:</b><span class="msg">&nbsp;&nbsp;' + msg + '</span></div>');
        message_list.append('<div class="a"><b class="talker">桜ちゃん:</b><span class="msg" id="msg' + send_count + '">&nbsp;&nbsp;...</span></div>');
        message_list[0].scrollTop = message_list[0].scrollHeight;
        send_count++;
    }

    function postRec(data, type, count) {
        $.ajax({
            url: '/', //上传接口地址
            type: "POST",
            data: {
                mime: type, //告诉后端，这个录音是什么格式的，可能前后端都固定的mp3可以不用写
                b64: data, //录音文件内容，后端进行base64解码成二进制
                count: count,//...其他表单参数
                sid: session_id
            },
            success: function (res) {
                console.log("succeed", count, res);
                console.log(type);
                let res_dict = JSON.parse(res);

                let message_list = $("#message_list");
                let html = '<audio id="res_audio' + count + '" controls="" src="data:audio/wav;base64,' + data + '"></audio>';
                message_list.append('<div class="q"><span class="msg">&nbsp;&nbsp;</span><span class="msg">' + html + '</span>' + res_dict['res_text'] + '</div>');
                message_list[0].scrollTop = message_list[0].scrollHeight;
                // $('#res_audio' + count)[0].play();
                // if (type.indexOf('audio') !== -1) {
                //     $('#question' + count).html(res_dict['input_text']);
                // }
            },
            error: function (err) {
                console.error("上传失败", err);
            }
        });
    }

    function startRec() {
        let submit_btn = $("#submit");
        let msg_input_btn = $("#msg");
        let text_submit = $("#text_submit");

        msg_input_btn.attr("disabled", true);
        msg_input_btn.css('cursor', 'not-allowed');
        text_submit.attr("disabled", true);
        text_submit.css('cursor', 'not-allowed');

        submit_btn.attr("disabled", true);
        submit_btn.removeClass('blue');
        submit_btn.css('cursor', 'not-allowed');
        $('#submit_text').html('マイク開く...');

        let rec = Recorder({
                type: 'wav', bitRate: 16, sampleRate: 16000
            }
        );
        //开始录音
        rec.open(function () {
            rec.start();

            submit_btn.unbind('click').removeAttr('onclick').click(function () {
                msg_input_btn.attr("disabled", false);
                msg_input_btn.css('cursor', '');
                text_submit.attr("disabled", false);
                text_submit.css('cursor', '');

                rec.stop(stopRecCallback, function (msg) {
                    console.log("录音失败:" + msg);
                }, true);
                submit_btn.unbind('click').removeAttr('onclick').click(startRec);
                submit_btn.attr("disabled", false);
                submit_btn.addClass('blue');
                submit_btn.css('cursor', 'pointer');
                $('#submit_text').html('録音開始');
            });

            submit_btn.attr("disabled", false);
            submit_btn.addClass('red');
            submit_btn.css('cursor', 'pointer');
            $('#submit_text').html('録音終了');
        });
    }

    function stopRecCallback(blob, duration) {
        console.log(blob, (window.URL || webkitURL).createObjectURL(blob), "时长:" + duration + "ms");

        let reader = new FileReader();
        let count_buf = send_count;
        reader.onloadend = function () {
            postRec((/.+;\s*base64\s*,\s*(.+)$/i.exec(reader.result) || [])[1], blob.type, count_buf)
        }
        reader.readAsDataURL(blob);
    }

    $(function () {
        // $("#submit").click(startRec);
        //
        // $("#msg").keydown(function (e) {
        //     if (e.keyCode == 13) {
        //         textSubmit();
        //     }
        // });
    });
</script>
</html>
