<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>声紋音声認識</title>
    <script src='static/js/jquery-3.5.1.min.js'></script>
    <script src="static/js/recorder.wav.min.js"></script>
    <style>
        h1 {
            text-align: center
        }

        .container * {
            font-size: 1.5em;
            margin-bottom: 5px;
        }

        #displayer {
            border: black solid 1px;
            min-height: 100px;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<h1>声紋音声認識</h1>
<div class="container">
    <span>ID:</span><input type="text" id="id" placeholder="メッセージ入力"/>
    <button id="register_btn" class="rec_button">音声登録</button>
</div>
<div class="container">
    <button id="search_btn" class="rec_button">声紋音声検索</button>
</div>
<div class="container">
    <button id="stop_btn" disabled>録音停止</button>
</div>
<div id="displayer">

</div>
</body>
<script>
    var rec = Recorder({
            type: 'wav', bitRate: 16, sampleRate: 16000
        }
    );

    function postRec(data, type) {
        let rec_buttons = $(".rec_button");
        let uid = '';
        let pwd = '';
        if (type === 'add') {
            uid = $('#id').val();
        }
        $.ajax({
            url: 'spkrec_interface', //上传接口地址
            type: "POST",
            data: {
                method: type,
                b64: data, //录音文件内容，后端进行base64解码成二进制
                id: uid, //录音文件内容，后端进行base64解码成二进制
                pwd: pwd, //录音文件内容，后端进行base64解码成二进制
            },
            success: function (res) {
                rec_buttons.attr("disabled", false);

                console.log("succeed", res);
                let res_dict = JSON.parse(res);

                let displayer = $('#displayer');

                //検証失敗：この声紋がデータベースに見つかりませんでした。
                //検証失敗：音声パスワードが間違っています。
                //検証成功：音声パスワードが正しい、個人ID：XXX
                if (type === 'add') {
                    displayer.html("音声登録完了。登録ID：" + res_dict['match_id'] + "。入力音声：" + res_dict['input_pwd']);
                } else {
                    if (res_dict['match_id']) {
                        if (res_dict['db_pwd'] === res_dict['input_pwd']) {
                            displayer.html("検証成功：音声パスワードが正しい、個人ID：" + res_dict['match_id']);
                        } else {
                            displayer.html("検出結果がありません。検索声紋は存在します。音声パスワードが間違っています。入力音声：" + res_dict['input_pwd']);
                        }
                    } else {
                        displayer.html("検出結果がありません。この声紋がデータベースに存在しません。");
                    }
                }

                console.log(res_dict);
            },
            error: function (err) {
                rec_buttons.attr("disabled", false);
                console.error("上传失败", err);
            }
        });
    }

    function startRec() {
        if ($(this).attr('id') === 'register_btn') {
            let msg = $("#id").val();
            if (msg === "") {
                alert('入力メッセージが見つかりません。');
                return
            }
        }

        let rec_buttons = $(".rec_button");
        let stop_button = $("#stop_btn");
        let displayer = $("#displayer");

        rec_buttons.attr("disabled", true);
        stop_button.attr("method", $(this).attr('id') === 'register_btn' ? 'add' : 'search');
        displayer.html('マイク開く...');

        //开始录音
        rec.open(function () {
            rec.start();
            displayer.html('録音中...');
            stop_button.attr("disabled", false);
        });
    }

    function stopRecCallback(blob, duration) {
        let rec_buttons = $(".rec_button");
        let stop_button = $("#stop_btn");
        $("#displayer").html('');

        stop_button.attr("disabled", true);
        console.log(blob, (window.URL || webkitURL).createObjectURL(blob), "时长:" + duration + "ms");

        let reader = new FileReader();
        reader.onloadend = function () {
            postRec((/.+;\s*base64\s*,\s*(.+)$/i.exec(reader.result) || [])[1], stop_button.attr('method'))
        }
        reader.readAsDataURL(blob);

    }

    $(function () {
        $(".rec_button").click(startRec);


        let stop_button = $("#stop_btn");
        stop_button.click(function () {
            rec.stop(stopRecCallback, function (msg) {
                console.log("录音失败:" + msg);
            }, true);
        });


        // $("#msg").keydown(function (e) {
        //     if (e.keyCode == 13) {
        //         textSubmit();
        //     }
        // });
    });
</script>
</html>